@model ContentViewModel

@{
    ViewData["Title"] = "Details";
}

<style>
    /* Custom CSS for Details View */
    .details-container {
        margin-top: 20px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 5px;
    }

    .details-title {
        margin-bottom: 20px;
    }

    .details-description {
        margin-bottom: 20px;
    }

    .details-thumbnail {
        margin-bottom: 20px;
    }

        .details-thumbnail img {
            max-width: 100%;
            height: auto;
        }

    .back-link {
        margin-top: 20px;
    }

  
</style>

<h2 class="details-title">@Model.Title</h2>

@if (Model.HtmlContent is not null && Model.VideoLink is null)
{
    <div class="row ">
        <div id="textContent" class="mt-3 col-md-10">
            @Html.Raw(Model.HtmlContent)
        </div>
    </div>
}

@if (Model.VideoLink is not null)
{
    <div class="row ">
        <div id="videoContent" class="mt-3 col-md-10">

            <div id="videoContent" class="video-container mt-3 ">

                <iframe width="420" height="315" style="width:600px;height:400px;" src="@Model.VideoLink/embed" allowfullscreen="" frameborder="0">
                </iframe>
            </div>
        </div>
    </div>
}

