@{
    ViewData["Title"] = "Check Email";
}



<div class="wthree-text">

    <div>
        Password Reset Link has been sent to your email.
        <br />
        Please check your inbox :
        <a class="btn btn-outline-primary" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">
            Gmail
            <i class="fab fa-google"></i>
        </a>
        |
        <a class="btn btn-outline-primary" href="https://mail.yahoo.com/d/folders/1?.intl=xe&.lang=en-JO">
            Yahoo
            <i class="fab fa-yahoo"></i>
        </a>
    </div>


</div>
