@model ForgetPasswordViewModel


@{
    ViewData["Title"] = "Forget Password";
    Layout = "_AuthLayout";
}



<form asp-action="ForgetPassword" method="post">
    <div asp-validation-summary="All"></div>

    <input  asp-for="Email"  placeholder="Email" >
    <span asp-validation-for="Email" class="text-danger"></span>

   

    <input type="submit" value="Forget Password" class="btn btn-danger "/>
</form>





@section Scripts{
    <Partial name="_ValidationScriptsPartial" />
}