@model ResetPasswordViewModel


@{
    ViewData["Title"] = "Reset Password";
    Layout = "_AuthLayout";
}





<form asp-action="ResetPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Email">
    <input type="hidden" asp-for="Token">

    <span asp-validation-for="Password" class="text-danger" style="color:#bb2124;"></span>
    <input asp-for="Password" class="text" placeholder="New Password" required="">

    <span asp-validation-for="ConfirmPassword" class="text-danger" style="color:#bb2124;"></span>
    <input asp-for="ConfirmPassword" class="text w3lpass" placeholder="Confirm New Password" required="">

    <div>

        <input type="submit" value="Reset Password" class="btn btn-outline-primary">
    </div>

</form>


@section Scripts{
    <Partial name="_ValidationScriptsPartial" />
}
