@model int


<a asp-action="Details" asp-route-id="@Model" class="btn btn-outline-info ">
    <i class="fas fa-eye" title="Details"></i>
</a>

<a asp-action="Edit" asp-route-id="@Model" class="btn btn-outline-primary ">
    <i class="fas fa-edit" title="Edit"></i>
</a>

<a asp-action="Delete" asp-route-id="@Model" class="btn btn-outline-danger ">
    <i class="fa-solid fa-trash" title="Delete"></i>
</a>