@model UserCategoryViewModel
@inject UserManager<ApplicationUser> _userManager
@inject IUnitOfWork _unitOfWork

@{
    var usersSelectedList = new SelectList(_userManager.Users.ToList(), nameof(ApplicationUser.Id), nameof(ApplicationUser.UserName));

    var CategoriesSelectedList = new SelectList(await _unitOfWork.CategoryRepository.GetAllAsync(), nameof(Category.Id), nameof(Category.Title));
}

<div style=" padding:30px 0px 24px 75px; justify-content:center; ">
    <form asp-action="Index" method="post">
        <div class="input-group">

            <select asp-items="CategoriesSelectedList" asp-for="Id" id="select-option" class="form-select w-50 ">
                <option value="@null" selected>-- All Categories --</option>
            </select>

            <input type="submit" class="btn btn-primary " value="Get the User " />
         
        </div>
    </form>
</div>

